 body {
     background-color: #f0f0f0;
     font-family: sans-serif;
     margin: 0;

     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.principal {
padding: 20px;
text-align: center;
font-size: 20px;

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.principal img {
    width: 500px;
    height: auto;
    border-radius: 100px;
}

.nossa-especialidade {
    color: black;
}

 .botoes {
     padding: 50px;
     text-align: center;

     display: flex;
     justify-content: center;
     align-items: center;
 }



 #meuBotao{
    padding: 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 8px;
    font-size: 25px;

 }

 footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
 }

 .imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
 }
 
